<div class="devise-box">
		<%= form_for @new_class do |f| %>
		<ul>			
			<div style="margin:0;padding:0;display:inline">
                                <input name="utf8" type="hidden" value="✓">
                                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                        </div>
			<li><%= f.label :code %>:
			<%= f.text_field :code %></li>

			<li><%= f.label :title %>:
			<%= f.text_field :title %></li>
		
			<li><%= f.label :description %>:
			<%= f.text_field :des %></li>

			<li><input type="submit" value="submit"></li>
		</ul>
		<% end %>
</div>
